__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml

# Airflow
airflow-logs/
logs/

# Scrapy
*.log

# OS
.DS_Store
Thumbs.dbdata_platform/warehouse/articles_dump.json
